<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Author</th>
      <th scope="col">Title</th>
      <th scope="col">Date</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of blist">
      <th scope="row">{{x.id}}</th>
      <td>{{x.writer}}</td>
      <td>{{x.title}}</td>
      <td>{{x.date | date: 'shortDate' }}</td>
      <td><button type="submit" class="btn btn-primary" (click)="remove(x.id)" [disabled] = "x.id == 1">Remove</button><button type="submit" style="margin-left:5px" class="btn btn-primary" (click)="editBlog(x)">Edit</button></td>
    </tr>
  </tbody>
</table>
<a href="#" *ngIf="showCreateBlog" (click)="createBlog($event)">Create blog</a>
<div *ngIf="editionMode" style="margin-bottom: 10px">
  <form>
    <div class="form-group" *ngIf="currentBlog.id">
      <label for="id"><b>Blog Id:</b></label>
      <span>{{"  " + currentBlog.id}}</span>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input id="title" [(ngModel)]="currentBlog.title" name="title" class="form-control" type="text">
    </div>
    <div class="form-group">
      <label for="date">Date</label>
      <input class="form-control" [(ngModel)]="currentBlog.date" id="date" name="date" type="text"  disabled>
    </div>
    <div class="form-group">
      <label for="body">Blog body</label>
      <textarea class="form-control" [(ngModel)]="currentBlog.body" name="body" id="body" rows="8" cols="80"></textarea>
    </div>
    <div>
        <button type="submit" (click)="cancel()" class="btn btn-primary">Cancel</button>
        <button type="submit" (click)="save()" class="btn btn-primary" style="margin-left: 10px">Save</button>
    </div>
  </form>
</div>
